* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Netflix Sans", "Helvetica Neue", "Helvetica", "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

section {
    display: grid;
    grid-row: inherit;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    grid-auto-rows:1fr;
    padding: 70px 125px;
    align-items: center;
    text-align: left;
    border-bottom: 8px solid #222;
}

section:nth-child(even) div.texts {
    order: 2;
}
section div.texts {
    padding: 0 30px;
}

section div.texts h1 {
    font-size: 2.65rem;
    font-weight: 900;
    margin-bottom: 8px;
}

section div.texts p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

.media {
    position: relative;
}

.media.s1 img {
    width: 400px;
}

.media.s1 video {
    width: 289px;
    position: absolute;
    top: 62px;
    left: 53px;
}

.media.s2 img {
    width: 400px;
}

.media.s2 video {
    z-index: -1;
    width: 245px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.media.s3 img {
    width: 350px;
}

section div.download {
    border: 2px solid #666;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 95px;
    position: absolute;
    bottom: 20px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
}

section div.download img {
    height: 90%;
    width: auto;
    margin: 8px 10px;
}

section div.download .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 5px;
}

section div.download span.movie-name {
    color: #fff;
    font-size: 14.9px;
}

section div.download span.highlight-text {
    color: #0071eb;
    padding-top: 5px;
}